/* add home page styles here */
@font-face {
  src: url('../fonts/HarryP-MVZ6w.ttf');
  font-family: harry;
}


body {
  background-image: url('../assets/homebg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  font-family: harry;

}