@font-face {
  src: url('../fonts/HarryP-MVZ6w.ttf');
  font-family: harry;
}

body {
  background-image: url('../assets/cool.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  position: absolute;
  font-family: harry;

}




li a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  
}

li a :visited {
  text-decoration: none;
  
  
  
  
}

li {
  padding: 40px;
  background: rgba(255,255,255, 0.5);
  box-shadow: 10px 10px 5px black;
  border: 2px 	#e3a000 solid;
  margin: 20px;
  
}

