body {
  background-image: url('../assets/resultsbg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  font-family: harry;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}


.story-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40%;
  
}

#story-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  font-size: 3em;
  color: white;


}