body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
    
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;


}

.map-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    

}

.quest-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
}


h2 {
    font-size: 1.8rem;
    font-weight: bold;
}


.main-form {
      display: flex;
      justify-content: center;
      border: 2px solid #e3a000;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      margin: 30px;

  }

.letter {
    width: 350px;
    height: 250px;
}
.main-section form {
    background: rgba(0,50,94, 0.5);
    box-shadow: 10px 10px 5px grey;
    display: flex;
    flex-direction: column;
}

.main-section button {
    background: rgba(45,0,77, 0.2);
    color: 	#e3a000;
    border: 2px 	#e3a000 solid;
    padding: 5px;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 20px;
    outline:none;

    
}

.main-section button:hover {
    background: rgba(45,0,77);
}
  

.name {
    width: 100%;
    font-size: 1.3rem;
    padding: 7px 0;
    background: transparent;
    color: #e3a000;
    border: 0;
    border-bottom: 2px 	#e3a000 solid;
    text-decoration: none;
    margin: 10px;
}

input:focus {
    outline:none;
}










  