
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;


}

.map-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    

}

.quest-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
}









h2 {
    font-size: 1.8rem;
    font-weight: bold;
}








 

form {
      display: flex;
      justify-content: center;
      border: black 2px solid;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      margin: 30px;

  }

section img {
      width: 500px;
      height: 300px;

  }


form img {
    width: 100px;
    height: 100px;
}





  